# Build outputs
**/output/
**/temp/
**/fsh-generated/
**/input-cache/
**/node_modules/
**/template/

# IG Publisher artifacts
**/*.zip
**/*.tgz
**/*.log
**/*.jar

# OS
.DS_Store

# IDE
.vscode/
.temp/

fhirpkg.lock.json